.banner-container {
    max-height: 600px;
  }
  
  .carousel-image {
    max-height: 600px;
    object-fit: cover;
  }
   
 
  .carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  